.custom .container {
  width: 100%;
  height: 500px;
  background-color: skyblue;
}
.custom .item {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #000;
}
.custom .item1 {
  background-color: red;
}
.custom .item2 {
  background-color: orange;
}
.custom .item3 {
  background-color: yellow;
}
.custom .item4 {
  background-color: green;
}
.custom .item5 {
  background-color: blueviolet;
}
